.__SectionFrontPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* 

.__SectionFrontPage,
.__SectionCompanies {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.__SectionFrontPage img {
    width: 100%;
}

.__SectionFrontPage .group-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.__SectionFrontPage .group-text .title {
    font-size: 40px;
    font-weight: bold;
}

.__SectionFrontPage .group-text .text-1 {
    width: 60%;
    font-size: 20px;
    text-align: center;
}

.__SectionFrontPage .group-text .button {
    background-color: black;
    color: white;
    width: 250px;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
    border-radius: 30px;
    text-align: center;
}

.__SectionFrontPage .group-text .text-2 {
    margin-top: 10px;
    font-size: 18px;
    color: gray;
}

.__SectionCompanies .group-images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.__SectionCompanies {
    margin: 10px 0 100px 0;
}

.__SectionCompanies h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.__SectionCompanies .group-images .hotwheels,
.__SectionCompanies .group-images .mylittlepony,
.__SectionCompanies .group-images .starwars {
    width: 100px;
    margin: 0px;
    padding: 0px;
}

@media (min-width: 200px) and (max-width: 299px) {
    .__SectionFrontPage .group-text {
        margin-top: 50px;
    }

    .__SectionFrontPage .group-text .title {
        font-size: 10px !important;
    }

    .__SectionFrontPage .group-text .text-1 {
        font-size: 8px !important;
    }

    .__SectionFrontPage .group-text .button {
        width: 150px;
        font-size: 8px !important;
        padding: 1px 1px 1px 1px;
    }

    .__SectionFrontPage .group-text .text-2 {
        font-size: 5px !important;
    }
}

@media (min-width: 300px) and (max-width: 1000px) {
    .__SectionFrontPage .group-text {
        margin-top: 50px;
    }

    .__SectionFrontPage .group-text .title {
        font-size: 15px !important;
    }

    .__SectionFrontPage .group-text .text-1 {
        font-size: 10px !important;
    }

    .__SectionFrontPage .group-text .button {
        width: 150px;
        font-size: 10px !important;
    }

    .__SectionFrontPage .group-text .text-2 {
        font-size: 8px !important;
    }
    .__SectionCompanies {
        margin: 10px 0 25px 0;
    }

    .__SectionCompanies h2 {
        font-size: 15px !important;
    }

    .__SectionCompanies .group-images .hotwheels,
    .__SectionCompanies .group-images .mylittlepony,
    .__SectionCompanies .group-images .starwars {
        width: 40px;
    margin: 0px;
    padding: 0px;
    }
}

 */
